
<h1>Edit article</h1>

<%= form_with(model: @exercise) do |form| %>

   <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p>
 
   <!-- <p>
     <%= form.label :text %><br>
     <%= form.text_area :text %>
   </p>
   -->
	   
   <p>
     <%= form.submit %>
   </p>
 <% end %>

 <%= link_to 'Back', exercises_path %>
 