
<p>
  <strong>Title:</strong>
  <%= @exercise.name %>
  
  <p> This is an exercise description </p>
  
</p>
 
 
 <br> <br> <br> <br> <br> <br> <br>
 
 <h1> Set  page</h1>
 <%= form_with scope: :exercise_set, :url => url_for(:controller => 'exercises', :action => 'create_set', exercise_id: @exercise.id ),local: true do |form| %>

 

  <table border="0" cellspacing="5" cellpadding="5">
  	<tr>
  		<td>
        <%= form.label :repetition %>
        <%= form.number_field :repetition %>
		
	    <%= form.label :weight %>
	    <%= form.number_field :weight %>
		
		
		
		
	</td>
</tr>
  </table>
  
  <div class="actions">
    <%= form.submit "add set" %>
  </div>
  
 <% end %>


 
 
 <br> <br> <br> <br> <br> <br> <br>
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>