
<p>
	  <strong>Start Exercises:</strong>
  <%= @exercise.name %>
</p>
 
 <br> <br> <br> <br> <br> <br> <br>
 
 
  
  



<%= form_with(model: @exercise) do |form| %>

   <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p>
 
 
 
 
 
 <%= form.fields_for :exercise_sets do |project_fields| %>
    
      Name: <%= project_fields.text_field :weight %>
   
  <% end %>

	   
   <p>
     <%= form.submit %>
   </p>
 <% end %>



 
 
 <br> <br> <br> <br> <br> <br> <br>
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>