<%= javascript_pack_tag 'my_file' %>
	
<p>
  <strong><%= @exercise.name %></strong>
</p>





 <br> <br> <br> <br>
  
  


<div id="history" style="width: 1000px; height: 100px; background-color: gray;">
<a class="show-history" data-id="<%= @exercise.id %>"> 
  show history
</a>

  <div class="loader"></div>
<%= form_with model: @exercise, :html => { :method => :post }, url: create_set2_exercise_path, local: true do |form| %>
   <!-- <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p> -->
 <%= form.fields_for :exercise_sets do |ff| %>
 <!-- <% if ff.object.persisted? %>
       <%= render 'exercise_set_fields', f: ff %>
     <% end %> -->
  <% end %>

  <%= link_to_add_fields "Start Exercise", form, :exercise_sets %>
   <p>
     <%= form.submit 'complete exercise' , class: "complete-exercise-form" %>
   </p>
 <% end %>
</div>




 <br> <br> <br> 
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>