
<p>
	  <strong>Start Exercises:</strong>
  <%= @exercise.name %>
</p>
 
 <br> <br> <br> <br> <br> <br> <br>
 
 
  
  



<%= form_with model: @exercise, :html => { :method => :post }, :url => url_for(:controller => 'exercises', :action => 'create_set2') , local: true do |form| %>

   <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p>
 
 
 
 
 
 <%= form.fields_for :exercise_sets do |ff| %>
    
      weight: <%= ff.text_field :weight %>
	   repetitions: <%= ff.text_field :repetition %>
   
  <% end %>

	   
   <p>
     <%= form.submit 'complete exercise' %>
   </p>
 <% end %>



 
 
 <br> <br> <br> <br> <br> <br> <br>
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>