
  	<%= javascript_pack_tag 'my_file' %>
	
	
<p>
	  <strong>Start Exercises:</strong>
  <%= @exercise.name %>
  
</p>


<div class="history">
	
    <% @q.each do |set| %>
        
   	 <% if set.rn  == 1 %>
   	    <div class="wrapper">
   	    	<hr/>
   	    			<h1 class="connected-label">
			
   	    		<span class="connected-label zeta uppercase heading-font connected-label-inner" >Hello there</span>
   	    			</h1>
   	    		</div>
   	     <% end %>
	 
   	     <%= set.date  %>   --   <%= set.weight  %>   --- <%= set.rn    %>    <br>
		 
          <%= set.rn %> <br>
       
    <% end %>
	
	 <%= will_paginate @q %>
	 

	 
</div>
 
 <br> <br> <br> 
  <strong>test rec :</strong>
 <%=  @testrecord %>
 

 <br> <br> <br> <br>
 
 
  
  
<a class="show_history"> 
	show_history
</a>


<%= form_with model: @exercise, :html => { :method => :post }, url: create_set2_exercise_path, local: true do |form| %>


   
   <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p>
 
 <%= form.fields_for :exercise_sets do |ff| %>
 
 
 <!-- <% if ff.object.persisted? %>
       <%= render 'exercise_set_fields', f: ff %>
     <% end %> -->

  <% end %>
	<%= link_to_add_fields "Start Exercise", form, :exercise_sets %>
   <p>
     <%= form.submit 'complete exercise' %>
   </p>
 <% end %>



 
 
 <br> <br> <br> <br> <br> <br> <br>
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>