
<script type="text/javascript">


	$(function() {
		alert("rrr2");

	  return $('form').on('click', '.add_fields', function(event) {
	    var regexp, time;
	    time = new Date().getTime();
	    regexp = new RegExp($(this).data('id'), 'g');
	    $(this).before($(this).data('fields').replace(regexp, time));
	    return event.preventDefault();
	  });
	});
</script>
  
<p>
	  <strong>Start Exercises:</strong>
  <%= @exercise.name %>
</p>
 
 <br> <br> <br> <br> <br> <br> <br>
 
 
  
  



<%= form_with model: @exercise, :html => { :method => :post }, url: create_set2_exercise_path, local: true do |form| %>

   <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p>
 
 <%= form.fields_for :exercise_sets do |ff| %>
  <%= render 'exercise_set_fields', f: ff %>
  <% end %>

	     <%= link_to_add_fields "Add sets", form, :exercise_sets %>
		 
   <p>
     <%= form.submit 'complete exercise' %>
   </p>
 <% end %>



 
 
 <br> <br> <br> <br> <br> <br> <br>
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>