<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_pack_tag 'my_file' %>
	
<p>
  <strong><%= @exercise.name %></strong>
</p>


<div >
    <h3>Visits By Day</h3>
    <%= column_chart charts_show_exercise_sets_path(@exercise.id), discrete: true %>


<h4> second test chart <
    <%= line_chart Exercise.group(:id).count %>

  </div>



 <br> <br> <br> <br>
  



  <div class="loader"></div>
<%= form_with model: @exercise, :html => { :method => :post }, url: create_set2_exercise_path, local: true do |form| %>
   <!-- <p>
     <%= form.label :name %><br>
     <%= form.text_field :name %>
   </p> -->
 <%= form.fields_for :exercise_sets do |ff| %>
 <!-- <% if ff.object.persisted? %>
       <%= render 'exercise_set_fields', f: ff %>
     <% end %> -->
  <% end %>

  <%= link_to_add_fields "Start Exercise", form, :exercise_sets %>
   <p>
     <%= form.submit 'complete exercise' , class: "complete-exercise-form" %>
   </p>
 <% end %>

 <div id="history" style="width: 1000px; height: 500px; background-color: gray;">



  <%= link_to("show history",'javascript:void(0)', {:class => 'show-history' , id: @exercise.id })  %>

<!--   <a class="show-history" data-id="<%= @exercise.id %>"> 
    show history
  </a> -->


    <a class="show-chart" data-id="<%= @exercise.id %>"> 
    show chart
  </a>


</div>




 <br> <br> <br> 
  <%= link_to 'Edit', edit_exercise_path(@exercise) %>

<%= link_to 'Back', exercises_path %>