%html
	%head
		%title DoItHarder beeach
		= csrf_meta_tags
		= stylesheet_pack_tag    'application'
		= javascript_pack_tag 'main' 
		-# %link{:rel => :stylesheet, :type => :"text/css", :href => "../node_modules/bootstrap/dist/css/bootstrap.css"}

	%body
		.header
			%nav
				- if user_signed_in?
					%li= link_to('Logout', destroy_user_session_path, method: :delete)
				- else
					%li= link_to('Login', new_user_session_path)
				- if user_signed_in?
					%li= link_to('Edit registration', edit_user_registration_path)
				- else
					%li= link_to('Register', new_user_registration_path) 

				%li= link_to 'Home', root_path 
				%li= link_to 'Home2', root_path
				%li= link_to 'Home3', root_path


		.container
			%h2 bootstrap
			%button.btn.btn-success


		.content-container
			= yield
			%app-root

		
		
		.footer