<!DOCTYPE html>
<html>
  <head>
    <title>DoItHarder beeach</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application' %>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCy1iV_Chbe8Nb3atImLKQs7W2xDuQCQz4"></script> -->

  </head>

  <body>
 	   <div class="header">
 	 	<nav > 
			<% if user_signed_in? %>
			  <li>
			  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
			  </li>
			<% else %>
			  <li>
			  <%= link_to('Login', new_user_session_path)  %>  
			  </li>
			<% end %>
			
			<% if user_signed_in? %>
			  <li>
			  <%= link_to('Edit registration', edit_user_registration_path) %>
			  </li>
			<% else %>
			  <li>
			  <%= link_to('Register', new_user_registration_path)  %>
			  </li>
			<% end %>

			<li> <%= link_to 'Home', root_path  %>  </li>
		</nav>
 	 </div>

	 <div class="content-container">
    	 <%= yield %>
 	</div>


	 <footer class="footer">

	 </footer> 

  </body>
</html>