%html{:"ng-app" => "app"}
	%head
		%title DoItHarder beeach
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
		= javascript_pack_tag 'application' 

	%body
		.header
			%nav
				- if user_signed_in?
					%li= link_to('Logout', destroy_user_session_path, method: :delete)
				- else
					%li= link_to('Login', new_user_session_path)
				- if user_signed_in?
					%li= link_to('Edit registration', edit_user_registration_path)
				- else
					%li= link_to('Register', new_user_registration_path) 

				%li= link_to 'Home', root_path 
				%li= link_to 'Home2', root_path
				%li= link_to 'Home3', root_path
				%li= link_to 'Home4', root_path
				%li= link_to 'Home5', root_path
				%li= "{{1 + 2}}"

		.content-container
			= yield
		.footer